# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Python egg files
*.egg-info/

# Data & results (optional)


# Logs and temp
*.log
*.tmp
